body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: relative; /* Position relative for absolute positioning of sign-in link */
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.navigation {
    margin-top: 10px;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.search-bar {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 60%;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

.main-content {
    text-align: center;
    padding: 20px;
}

.product {
    display: inline-block;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.company-logo {
    width: 100px; /* Adjust width as needed */
    height: auto;
    margin-bottom: 10px;
}

.sign-in {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    text-decoration: none;
}

.social-media {
    position: absolute;
    top: 20px;
    right: 20px;
}

.social-media img {
    width: 30px; /* Adjust width as needed */
    height: auto;
    margin-left: 10px; /* Adjust margin as needed */
    mix-blend-mode: multiply;
}
